*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,Tahoma,Geneva,Verdana,sans-serif;
}

body{
    background:#0d1117;
    color:#ffffff;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:400px;
    background:#161b22;
    border:1px solid #30363d;
    border-radius:16px;
    padding:40px;
    text-align:center;
    box-shadow:0 0 25px rgba(0,0,0,0.4);
}

.logo{
    font-size:42px;
    margin-bottom:10px;
}

h1{
    font-size:32px;
    margin-bottom:8px;
}

.subtitle{
    color:#8b949e;
    margin-bottom:30px;
}

input{
    width:100%;
    padding:14px;
    margin-bottom:15px;
    background:#0d1117;
    border:1px solid #30363d;
    color:#fff;
    border-radius:8px;
    font-size:15px;
}

input:focus{
    outline:none;
    border-color:#00ff88;
}

button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:8px;
    background:#00c853;
    color:white;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#00e676;
}

.footer{
    margin-top:20px;
    color:#8b949e;
    font-size:13px;
}